<!-- HEADER SUPERIOR -->
<div class="header">
  <div class="header-left">
    <div class="titulo">Alarmas</div>
  </div>
  <div class="header-right">
    <button class="profile-btn" (click)="openProfileMenu($event)">
      <img *ngIf="userProfileImage" [src]="userProfileImage" alt="Perfil" class="profile-img">
      <ion-icon *ngIf="!userProfileImage" name="person-circle" class="profile-icon"></ion-icon>
    </button>
  </div>
</div>

<ion-content [fullscreen]="true">
  <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
